@{
    ViewBag.Title = "About";
}
@*<h2>Acerca del Proyecto</h2>*@

<h3>Explorando .NET en un entorno Debian 11</h3>

@*<p>
    Este trabajo de investigación se centra en la implementación y configuración de servicios basados en .NET en un entorno Debian 11, un sistema operativo gratuito y de código abierto. Se aborda la necesidad de las empresas de desplegar servicios web de manera eficiente y segura, minimizando costos. Además, se analiza el impacto económico, ambiental y social que tiene la elección de un sistema operativo y sus componentes. Se presenta una guía práctica para la implementación utilizando herramientas de automatización como Vagrant y Ansible, y se destaca la importancia de la seguridad a través de la configuración de un Web Application Firewall (WAF) usando ModSecurity.
</p>

<div class="text-center">
    <img src="~/Assets/debianlogo.jpg" class="rounded mx-auto d-block" alt="">
</div>*@

<p>
    <img src="https://res.cloudinary.com/dv48w4jdm/image/upload/v1688787129/logo2_acjljv.jpg" align="right"> Este trabajo de investigación se centra en la implementación y configuración de servicios basados en .NET en un entorno Debian 11, un sistema operativo gratuito y de código abierto. Se aborda la necesidad de las empresas de desplegar servicios web de manera eficiente y segura, minimizando costos. Además, se analiza el impacto económico, ambiental y social que tiene la elección de un sistema operativo y sus componentes. Se presenta una guía práctica para la implementación utilizando herramientas de automatización como Vagrant y Ansible, y se destaca la importancia de la seguridad a través de la configuración de un Web Application Firewall (WAF) usando ModSecurity.
</p>


@*<img src="~/Assets/debianlogo.jpg" alt="Este trabajo de investigación se centra en la implementación y configuración de servicios basados en .NET en un entorno Debian 11, un sistema operativo gratuito y de código abierto. Se aborda la necesidad de las empresas de desplegar servicios web de manera eficiente y segura, minimizando costos. Además, se analiza el impacto económico, ambiental y social que tiene la elección de un sistema operativo y sus componentes. Se presenta una guía práctica para la implementación utilizando herramientas de automatización como Vagrant y Ansible, y se destaca la importancia de la seguridad a través de la configuración de un Web Application Firewall (WAF) usando ModSecurity.
" width="150" height="150" align="left" />*@