@{
    ViewBag.Title = "Contact";
}
<h2>Grupo 01</h2>
<h3>Integrantes del equipo:</h3>

<br />
<address>
    <p>1.-Combe Álvarez, Agustín Junior</p>
    <p>2.-Hablutzel Egoavil, Jaime Alberto</p>    
    <p>3.-Corzo Herrera, Miguel Jonathan</p>      
    <p>4.-Negron Velasquez, Wilmer Gabriel</p>
</address>


