@{
    ViewData["Title"] = "Home Page";
}



<header class="jumbotron jumbotron-fluid bg-secondary text-white text-center">
    <div class="container">
        <h1 class="display-4">Debian</h1>
        <p class="lead">Un sistema operativo gratuito y de código abierto</p>
    </div>
</header>
<br />
<section id="caracteristicas" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5 ">Características de Debian</h2>
        <div class="row">
            <div class="col-md-4">
                <h4>Estabilidad</h4>
                <p>Debian es conocido por su estabilidad y confiabilidad.</p>
            </div>
            <div class="col-md-4">
                <h4>Software Libre</h4>
                <p>Debian se basa en los principios del software libre y promueve la libertad del usuario.</p>
            </div>
            <div class="col-md-4">
                <h4>Gran Comunidad</h4>
                <p>La comunidad de Debian es activa y ofrece soporte y colaboración.</p>
            </div>
        </div>
    </div>
</section>
<br />
<section>
    <div class="container">
        <h2 class="text-center mb-5">Ventajas de Debian</h2>
        <ul>
            <li>Estabilidad: Debian es conocido por su estabilidad y confiabilidad. Se somete a rigurosas pruebas de control de calidad antes de lanzar nuevas versiones.</li>
            <li>Software Libre: Debian se adhiere estrictamente a los principios del software libre y promueve la libertad del usuario.</li>
            <li>Amplio Repositorio de Software: Debian cuenta con un vasto repositorio de software con miles de paquetes precompilados y listos para usar.</li>
            <li>Comunidad Activa: Debian cuenta con una comunidad activa de desarrolladores y usuarios que brindan soporte y colaboración.</li>
            <li>Seguridad: Debian se preocupa por la seguridad y ofrece actualizaciones regulares de seguridad.</li>
            <li>Flexibilidad y Personalización: Debian te brinda la flexibilidad de adaptar y personalizar tu sistema operativo.</li>
            <li>Larga Duración del Soporte (LTS): Debian ofrece versiones de soporte a largo plazo para aquellos que prefieren un ciclo de actualización más lento y una estabilidad aún mayor.</li>
        </ul>
    </div>
</section>

<br />
<br />
<section id="contacto" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Contacto</h2>
        <p class="text-center">Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en contacto con Debian.</p>
        <div class="text-center">
            <a href="mailto:info@debian.org" class="btn btn-primary">Enviar correo electrónico</a>
            <a href="tel:+1234567890" class="btn btn-secondary">Llamar</a>
        </div>
    </div>
</section>
