@{
    ViewBag.Title = "Inicio de Sesión";
}
<div class="text-center">
    <h2>@ViewBag.Title</h2>
    <img src="https://res.cloudinary.com/dv48w4jdm/image/upload/v1688787129/logoupc_h6awom.png" alt="Imagen de inicio de sesión" class="img-fluid" style="max-width: 200px; margin-bottom: 20px;" />
</div>
@*@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{*@
    <style>
    .signup-form {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    </style>    
<form id="signin-form" class="signup-form validForm" method="post">
        <div class="form-group">
            <label class="form-label float-left">Ingrese su usuario</label>
            <input type="text" id="signin-email" class="form-control" placeholder="Usuario" required="" autofocus="" name="username" />
        </div>
        <div class="form-group">
            <label class="form-label float-left">Contraseña</label>
            <input type="password" id="signin-password" class="form-control" placeholder="Contraseña" required="" name="password" />
        </div>
        <br>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button class="btn btn-lg btn-primary" type="submit">Ingresar</button>
                <br />
                <p class="text-muted">¿No tienes una cuenta? <a href="#" class="text-muted ms-1"><b style="color: red;">Registrarse</b></a></p>
            </div>
        </div>
    </form>
@*}*@

